@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  --cwhite: #d7f3f2;
  --clight: #9ec4be;
  --cdarkgrey: #3d6251;
  --cgrey: #47bd88;
  --ccyan: #00aba8;
  --cgreen: #007b3e;
  --clightgreen: #009c22;
  --cblack: #001c0e;
  margin: 0;
  background-color: var(--cwhite);
  overflow-y: hidden;
}

hr, h3 {
  margin: 0;
}

* {
  font-family: 'Signika Negative', sans-serif;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

input,
textarea {
  outline: none;
  background-color: var(--cblack);
  color: var(--clight);
  border-radius: 25px;
  border: 3px solid var(--cblack);
  padding: 1%;
}

input:focus {
  background-color: var(--cwhite);
  color: var(--cblack);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cgreen);
}

[contenteditable=true]:empty::before {
  content: attr(data-text);
  opacity: 0.5;
}


.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.white-nowrap {
  white-space: nowrap;
}

/*/**/

/*CLASES-------------------------*/

.dnd-zone {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 130px);
  max-height: calc(100vh - 130px);
  overflow-y: auto;
  overflow-x: hidden;
}

.dnd-zone>p {
  margin: 0;
  z-index: 1;
  height: 1px;
  position: relative;
  transition: all 300ms;
}

.dnd-zone>p.expanded {
  height: 45px;
  background-color: #69696946;
}

.dnd-zone>*:not(p),
.dnd-zone[data-dragging="false"]>p {
  z-index: 0;
}

.dnd-zone[data-dragging="false"]>*:not(p) {
  z-index: 1;
}

.dnd-zone>p>span {
  position: absolute;
  height: 15px;
  margin-bottom: 20px;
  width: 100%;
}


.sections-item-list {
  display: flex;
  flex-direction: column;
  margin: 2px 4px;
  border-radius: 7px;
  background-color: var(--cgrey);
}

.sections-item-list:nth-of-type(even) {
  background-color: var(--cgrey);
}

.dnd-zone[data-dragging="false"] p {
  z-index: -1;
}


.sections-item-list.dragging,
.sub.dragging {
  position: fixed;
  z-index: 1;
  margin: 0 4px;
  width: 100%;
}

.top-bar {
  display: flex;
  gap: 1rem;
}